POSTGRES_DB=moneymoney
POSTGRES_USER=moneymoney
POSTGRES_PASSWORD=please-change-this-password
POSTGRES_PORT=5432
API_PORT=8000
WEB_PORT=3000
REDIS_URL=redis://redis:6379/0
DAY_TRADING_STREAM_SECONDS=2
